/* global css */
*{
    font-size: 30px;
    font-weight: 500;
}
/* External css */
h3{
    color:aquamarine;
}

/* element selector */
h4{
    color:greenyellow;
}

/* class selector */
h5,p{
    color:brown;
}

/* background-color */
h6{
    background-color: yellow;
}
/*color */
h6{
    color: blue;
}